<p>show</p>
<style>
    body {background-color:lightgrey;text-align:center}
    h1   {color:blue}
    p    {color:green}
</style>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script>
 $( document ).ready(function() {
    $('#refresh').click(function() {
    location.reload();
});
});
</script>
<body><h1>Crawling Sites</h1><%= form_tag crawler_index_path,:method => "get" do %>
       	<p>
       	<%= text_field_tag :crawl, params[:crawl] %>
       	<%= submit_tag :"crawl", :name => nil %>
       	</p>
<% end %>
<p>Crawl has been initiated and the data will be populated in a tabular format here.</p><br/></body>
<button id="refresh">Refresh</button>
<%= $resultView%>
